backports.functools-lru-cache==1.4
cffi==1.9.1
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cryptography==1.6
cycler==0.10.0
DateTime==4.1.1
enum34==1.1.6
Flask==1.0.2
funcsigs==0.4
gunicorn==19.8.1
haufe.sharepoint==0.1.9
httplib2==0.10.3
idna==2.1
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
matplotlib==2.1.0
mock==1.3.0
munch==2.2.0
neo4j-driver==1.2.0
nose==1.3.7
numpy==1.13.3
oauth2==1.9.0.post1
oauthlib==2.0.6
pandas==0.21.0
paramiko==2.0.2
pbr==1.3.0
pyasn1==0.1.9
pycparser==2.17
pyparsing==2.2.0
pypiwin32==219
PySAL==1.14.3
pysftp==0.2.9
python-dateutil==2.6.1
python-ntlm==1.1.0
pytz==2016.10
requests==2.13.0
requests-kerberos==0.11.0
requests-oauthlib==0.8.0
scipy==1.0.0
selenium==2.53.6
Shapely==1.6.2
simplejson==3.13.2
six==1.9.0
suds==0.4
tweepy==3.5.0
TwitterSearch==1.0.1
virtualenv==15.1.0
Werkzeug==0.14.1
winkerberos==0.6.0
zope.interface==4.3.3
